*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAE4D8;
}

td{
    width: 50px;
    height: 50px;
    background-color: #A9AEF7;
    border-radius: 1px;
    position: relative;
  }
  
table{
    border-collapse: separate;
    border-spacing: 3px;
}

.bombHere{
    background-image: url('../img/bomb.png');
    background-color: #E8F897;
    background-size: cover;
}